:root {
  /* Colors */
  --primary-color: #212121;
  --secondary-color: #757575;
  --secondary-sub-color: #ffffff99;
  --accent-primary-color: #2196f3;
  /* Colors for background */
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  /* Additional colors */
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  /* Fonts */
  --logo-text-font: "Raleway", sans-serif;
  /* Flex */
  --primary-gap: 30px;
  /* SVG */
  --primary-icon-color: #afb1b8;
  /* Animations */
  --default-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --default-letter-spacing: 0.03em;
  --default-hero-gradient: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  );
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

textarea {
  resize: none;
}

body.no-scroll {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: var(--default-letter-spacing);
  color: var(--primary-color);
}

/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/raleway-v28-latin-700.woff2") format("woff2"), url("../fonts/raleway-v28-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn, .btn--small-alt, .btn--hover-effect {
  -ms-flex-item-align: center;
      align-self: center;
  min-width: 200px;
  height: 50px;
  padding-block: 10px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms var(--default-cubic-bezier), color 250ms var(--default-cubic-bezier);
  -o-transition: background-color 250ms var(--default-cubic-bezier), color 250ms var(--default-cubic-bezier);
  transition: background-color 250ms var(--default-cubic-bezier), color 250ms var(--default-cubic-bezier);
  color: var(--primary-white-color);
  background-color: var(--accent-primary-color);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .btn, .btn--small-alt, .btn--hover-effect {
    padding-inline: 16px;
  }
}
.btn--db {
  display: block;
}
.btn--df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.btn--dif {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.btn--flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn--gap {
  gap: 12px;
}
@media screen and (min-width: 1200px) {
  .btn--gap {
    gap: 10px;
  }
}
.btn--margin-inline-auto {
  margin-left: auto;
  margin-right: auto;
}
.btn--hover-effect:hover, .btn--hover-effect:focus {
  background-color: var(--primary-white-color);
  color: var(--accent-primary-color);
}
.btn--shadow-persistent {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.btn--shadow-on-hover {
  -webkit-transition: background-color 250ms var(--default-cubic-bezier), color 250ms var(--default-cubic-bezier), -webkit-box-shadow 250ms var(--default-cubic-bezier);
  transition: background-color 250ms var(--default-cubic-bezier), color 250ms var(--default-cubic-bezier), -webkit-box-shadow 250ms var(--default-cubic-bezier);
  -o-transition: background-color 250ms var(--default-cubic-bezier), color 250ms var(--default-cubic-bezier), box-shadow 250ms var(--default-cubic-bezier);
  transition: background-color 250ms var(--default-cubic-bezier), color 250ms var(--default-cubic-bezier), box-shadow 250ms var(--default-cubic-bezier);
  transition: background-color 250ms var(--default-cubic-bezier), color 250ms var(--default-cubic-bezier), box-shadow 250ms var(--default-cubic-bezier), -webkit-box-shadow 250ms var(--default-cubic-bezier);
}
.btn--shadow-on-hover:hover, .btn--shadow-on-hover:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.btn--transparent {
  color: #000000;
  background-color: none;
  border: none;
  border-radius: 0;
}

.btn--small-alt {
  min-width: 25px;
  height: 38px;
  padding-inline: 22px;
  padding-block: 0px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: normal;
  -webkit-transition: background-color 250ms var(--default-cubic-bezier), color 250ms var(--default-cubic-bezier), -webkit-box-shadow 250ms var(--default-cubic-bezier);
  transition: background-color 250ms var(--default-cubic-bezier), color 250ms var(--default-cubic-bezier), -webkit-box-shadow 250ms var(--default-cubic-bezier);
  -o-transition: background-color 250ms var(--default-cubic-bezier), color 250ms var(--default-cubic-bezier), box-shadow 250ms var(--default-cubic-bezier);
  transition: background-color 250ms var(--default-cubic-bezier), color 250ms var(--default-cubic-bezier), box-shadow 250ms var(--default-cubic-bezier);
  transition: background-color 250ms var(--default-cubic-bezier), color 250ms var(--default-cubic-bezier), box-shadow 250ms var(--default-cubic-bezier), -webkit-box-shadow 250ms var(--default-cubic-bezier);
  color: var(--primary-color);
  background-color: #f5f4fa;
}
.btn--small-alt:not(.btn--transparent):hover, .btn--small-alt:not(.btn--transparent):focus {
  background-color: var(--accent-primary-color);
  color: var(--primary-white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-block: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-block: 94px;
  }
}

.section__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.clients-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 250ms var(--default-cubic-bezier), visibility 250ms var(--default-cubic-bezier);
  -o-transition: opacity 250ms var(--default-cubic-bezier), visibility 250ms var(--default-cubic-bezier);
  transition: opacity 250ms var(--default-cubic-bezier), visibility 250ms var(--default-cubic-bezier);
  background-color: rgba(0, 0, 0, 0.2);
}
.clients-backdrop.is-hidden {
  -webkit-transition: opacity 250ms var(--default-cubic-bezier), visibility 250ms var(--default-cubic-bezier);
  -o-transition: opacity 250ms var(--default-cubic-bezier), visibility 250ms var(--default-cubic-bezier);
  transition: opacity 250ms var(--default-cubic-bezier), visibility 250ms var(--default-cubic-bezier);
}

.clients-backdrop .clients-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: calc(100% - 30px);
  height: 609px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .clients-backdrop .clients-modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-backdrop .clients-modal {
    width: 530px;
    height: 580px;
  }
}

.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--primary-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.modal-btn-close:hover .modal-btn-icon, .modal-btn-close:focus .modal-btn-icon {
  fill: var(--accent-primary-color);
}

/* .modal-btn-icon {
} */
.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--primary-color);
}
@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.15;
  }
}

.modal-form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.modal-form-field-wrap {
  position: relative;
}

.modal-form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-bottom: 30px;
}

.modal-form-flex-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.modal-form-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  -webkit-transition: border-color 250ms var(--default-cubic-bezier);
  -o-transition: border-color 250ms var(--default-cubic-bezier);
  transition: border-color 250ms var(--default-cubic-bezier);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
}
.modal-form-input:focus {
  border-color: var(--accent-primary-color);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-primary-color);
}

.modal-form-textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding-inline: 16px;
  padding-block: 12px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  -webkit-transition: border-color 250ms var(--default-cubic-bezier);
  -o-transition: border-color 250ms var(--default-cubic-bezier);
  transition: border-color 250ms var(--default-cubic-bezier);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
}
.modal-form-textarea:focus {
  border-color: var(--accent-primary-color);
}
.modal-form-textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-textarea::-moz-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
@media screen and (min-width: 1200px) {
  .modal-form-textarea::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .modal-form-textarea::-moz-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .modal-form-textarea:-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .modal-form-textarea::-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .modal-form-textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms var(--default-cubic-bezier);
  -o-transition: fill 250ms var(--default-cubic-bezier);
  transition: fill 250ms var(--default-cubic-bezier);
  pointer-events: none;
}

.modal-form-icon-wrap {
  display: inline-block;
  width: 16px;
  height: 15px;
  -webkit-transition: background-color 250ms var(--default-cubic-bezier), border-color 250ms var(--default-cubic-bezier);
  -o-transition: background-color 250ms var(--default-cubic-bezier), border-color 250ms var(--default-cubic-bezier);
  transition: background-color 250ms var(--default-cubic-bezier), border-color 250ms var(--default-cubic-bezier);
  border: 2px solid #000000;
  border-radius: 2px;
}

.modal-form-icon-inline {
  position: relative;
  top: -2px;
  left: -2px;
  fill: var(--primary-white-color);
  background-color: transparent;
  outline: transparent;
}
.modal-form-icon-inline:focus {
  outline: 2px solid #000000;
}

.modal-form-checkbox:checked + .modal-form-icon-wrap {
  background-color: var(--accent-primary-color);
  border-color: transparent;
}

.modal-form-agreement {
  color: var(--secondary-color);
  font-size: 12px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .modal-form-agreement {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form-agreement a {
  color: var(--accent-primary-color);
}

.logo {
  font-family: var(--logo-text-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  color: var(--accent-primary-color);
}
@media screen and (min-width: 480px) {
  .logo {
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo__part--white {
  color: var(--primary-white-color);
}
.logo__part--black {
  color: var(--primary-black-color);
}
.logo__part--accent {
  color: var(--accent-primary-color);
}

.btn-menu {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  color: var(--primary-color);
  background: none;
  border: none;
  cursor: pointer;
}
.btn-menu--center--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-menu__icon {
  fill: currentColor;
}

.mobile-menu {
  -webkit-transition: opacity 250ms var(--default-cubic-bezier);
  -o-transition: opacity 250ms var(--default-cubic-bezier);
  transition: opacity 250ms var(--default-cubic-bezier);
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding-block: 48px;
  padding-inline: 40px;
  background-color: #ffffff;
  overflow: auto;
  z-index: 1;
}
@media screen and (max-width: 319px) {
  .mobile-menu {
    width: 320px;
  }
}
@media screen and (min-width: 320px) {
  .mobile-menu {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__btn {
  position: absolute;
  top: 10px;
  right: 15px;
  -webkit-transition: color 250ms var(--default-cubic-bezier);
  -o-transition: color 250ms var(--default-cubic-bezier);
  transition: color 250ms var(--default-cubic-bezier);
  color: #000000;
}
.mobile-menu__btn:hover, .mobile-menu__btn:focus {
  color: var(--accent-primary-color);
}

.mobile-menu__first-part {
  margin-bottom: 60px;
}

.mobile-menu__soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}

.mobile-menu__soc-item:first-child {
  padding-left: 0;
}
.mobile-menu__soc-item:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-primary-color);
}

/* .clients {
} */
.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.clients-item {
  width: calc((100% - var(--primary-gap) * (2 - 1)) / 2);
}
@media screen and (min-width: 768px) {
  .clients-item {
    width: calc((100% - var(--primary-gap) * (3 - 1)) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    width: calc((100% - var(--primary-gap) * (6 - 1)) / 6);
  }
}

.clients-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100%;
  height: 92px;
  -webkit-transition: border-color 250ms var(--default-cubic-bezier), color 250ms var(--default-cubic-bezier);
  -o-transition: border-color 250ms var(--default-cubic-bezier), color 250ms var(--default-cubic-bezier);
  transition: border-color 250ms var(--default-cubic-bezier), color 250ms var(--default-cubic-bezier);
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  color: var(--primary-icon-color);
  cursor: pointer;
}
.clients-item-link:hover, .clients-item-link:focus {
  border-color: var(--accent-primary-color);
  color: var(--accent-primary-color);
}
.clients-item-link:active {
  border-color: var(--primary-icon-color);
  color: var(--primary-icon-color);
}

.clients-icon {
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 0;
  }
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--primary-gap);
}
@media screen and (max-width: 767px) {
  .features-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.features-list__item {
  width: calc((100% - var(--primary-gap) * (1 - 1)) / 1);
}
@media screen and (min-width: 768px) {
  .features-list__item {
    width: calc((100% - var(--primary-gap) * (2 - 1)) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features-list__item {
    width: calc((100% - var(--primary-gap) * (4 - 1)) / 4);
  }
}

.features__title {
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-color);
}

.features__icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.footer {
  padding-block: 60px;
  background-color: var(--secondary-background-color);
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .footer-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media screen and (max-width: 1199px) {
  .footer-content {
    gap: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-content {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media screen and (max-width: 1199px) {
  .footer-content-component {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-content-component {
    width: calc((100% - 60px * (2 - 1)) / 2);
  }
  .footer-content-component:last-child {
    width: calc((100% - 60px * (1 - 1)) / 1);
  }
}
@media screen and (min-width: 1200px) {
  .footer-content-component {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}

.footer-logo {
  display: inline-block;
  padding-bottom: 20px;
}

.footer-text {
  display: inline-block;
  width: 100%;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer-direction {
  margin-bottom: 9px;
  color: var(--primary-white-color);
}

.footer-item {
  margin-bottom: 9px;
}
.footer-item:last-child {
  margin-bottom: 0;
}

.footer-item-link {
  -webkit-transition: color 250ms var(--default-cubic-bezier);
  -o-transition: color 250ms var(--default-cubic-bezier);
  transition: color 250ms var(--default-cubic-bezier);
  color: var(--secondary-sub-color);
}
.footer-item-link:hover, .footer-item-link:focus {
  color: var(--accent-primary-color);
}
.footer-item-link:active {
  color: var(--secondary-sub-color);
}

@media screen and (max-width: 767px) {
  .footer-address {
    width: 100%;
  }
}

.footer-social-text {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

/* .footer-social-item {
} */
.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 1199px) {
  .footer-social-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  -webkit-transition: background-color 250ms var(--default-cubic-bezier);
  -o-transition: background-color 250ms var(--default-cubic-bezier);
  transition: background-color 250ms var(--default-cubic-bezier);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  cursor: pointer;
}
.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--accent-primary-color);
}
.footer-social-link:active {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-icon {
  fill: currentColor;
}

@media screen and (max-width: 1199px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form-subscription {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.footer-subheading {
  display: block;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
@media screen and (min-width: 768px) {
  .footer-subheading {
    margin-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-subheading {
    margin-top: 12px;
  }
}

.footer-form-input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 480px) {
  .footer-form-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form-input {
    width: 358px;
    margin-right: 12px;
  }
}

.footer-form-icon {
  fill: currentColor;
}

.header {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  border-bottom: 1px solid #ececec;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .header__content {
    height: 80px;
  }
}

.header__standard-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .header__standard-menu-container {
    display: none;
  }
}

.header__mobile-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header__mobile-menu-container {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

@media screen and (min-width: 768px) {
  .header__btn-menu {
    display: none;
  }
}

.nav-list, .addr-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .nav-list, .addr-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32px;
  }
}
@media screen and (min-width: 768px) {
  .nav-list, .addr-list {
    gap: 50px;
  }
}

.nav-list__item {
  position: relative;
}

.nav-list__link, .addr-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms var(--default-cubic-bezier);
  -o-transition: color 250ms var(--default-cubic-bezier);
  transition: color 250ms var(--default-cubic-bezier);
  color: var(--secondary-color);
  color: var(--primary-black-color);
}
.nav-list__link:hover, .addr-list__link:hover, .nav-list__link:focus, .addr-list__link:focus {
  color: var(--accent-primary-color);
}
.nav-list__link:active, .addr-list__link:active {
  color: var(--primary-black-color);
}
.nav-list__link--current {
  color: var(--accent-primary-color);
}
.nav-list__link--gray {
  color: var(--secondary-color);
}
@media screen and (min-width: 768px) {
  .nav-list__link, .addr-list__link {
    display: block;
    -ms-flex-item-align: center;
        align-self: center;
    padding-block: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
  .nav-list__link--current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background: var(--accent-primary-color);
    border-radius: 2px;
  }
}

@media screen and (max-width: 767px) {
  .addr-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 32px;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .addr-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .addr-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
  }
}
.addr-list--right {
  margin-left: auto;
}

.addr-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.addr-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding-block: 0px;
  color: var(--secondary-color);
}
@media screen and (max-width: 767px) {
  .addr-list__item:last-child > .addr-list__link {
    font-size: 34px;
    color: var(--accent-primary-color);
  }
}
@media screen and (min-width: 768px) {
  .addr-list__link {
    gap: 10px;
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .addr-list__link {
    font-size: 14px;
  }
}

.addr-list__icon {
  display: none;
}
@media screen and (min-width: 768px) {
  .addr-list__icon {
    display: inline-block;
    fill: currentColor;
  }
}

.hero {
  max-width: 767px;
  margin: 0 auto;
  padding-block: 118px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/index/hero/hero-bg-mobile.jpg");
  background-image: -o-linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/hero/hero-bg-mobile.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/hero/hero-bg-mobile.jpg");
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/index/hero/hero-bg-mobile@2x.jpg");
    background-image: -o-linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/hero/hero-bg-mobile@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/hero/hero-bg-mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/index/hero/hero-bg-tablet.jpg");
    background-image: -o-linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/hero/hero-bg-tablet.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/hero/hero-bg-tablet.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/index/hero/hero-bg-tablet@2x.jpg");
    background-image: -o-linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/hero/hero-bg-tablet@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/hero/hero-bg-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/index/hero/hero-bg-desktop.jpg");
    background-image: -o-linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/hero/hero-bg-desktop.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/hero/hero-bg-desktop.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/index/hero/hero-bg-desktop@2x.jpg");
    background-image: -o-linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/hero/hero-bg-desktop@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/hero/hero-bg-desktop@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 1199px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-block: 200px;
  }
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-white-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (max-width: 1199px) {
  .ourworks {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .ourworks__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: var(--primary-gap);
  }
  .ourworks-list__item {
    position: relative;
    width: calc((100% - var(--primary-gap) * (3 - 1)) / 3);
    height: 294px;
  }
  .ourworks__img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .ourworks__text {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-white-color);
    background-color: rgba(47, 48, 58, 0.8);
  }
}
.team {
  background-color: #f5f4fa;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--primary-gap);
}
@media screen and (max-width: 767px) {
  .team-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.team-item {
  width: calc((100% - var(--primary-gap) * (1 - 1)) / 1);
  min-height: 428px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - var(--primary-gap) * (2 - 1)) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - var(--primary-gap) * (4 - 1)) / 4);
  }
}

.team-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding-inline: 32px;
  margin-top: 16px;
}

/* .team-social-item {
} */
.team-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  -webkit-transition: background-color 250ms var(--default-cubic-bezier), color 250ms var(--default-cubic-bezier);
  -o-transition: background-color 250ms var(--default-cubic-bezier), color 250ms var(--default-cubic-bezier);
  transition: background-color 250ms var(--default-cubic-bezier), color 250ms var(--default-cubic-bezier);
  border-radius: 50%;
  color: var(--primary-icon-color);
  cursor: pointer;
}
.team-social-link:hover, .team-social-link:focus {
  background-color: var(--accent-primary-color);
  color: #ffffff;
}
.team-social-link:active {
  color: var(--primary-icon-color);
  background-color: transparent;
}

.team-social-icon {
  fill: currentColor;
}

.team-content {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-item-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-item-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-color);
}

.works-filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.works-gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--primary-gap);
}

.works-gallery-item {
  width: calc((100% - var(--primary-gap) * 2) / 3);
  height: 404px;
  -webkit-transition: -webkit-box-shadow 250ms var(--default-cubic-bezier);
  transition: -webkit-box-shadow 250ms var(--default-cubic-bezier);
  -o-transition: box-shadow 250ms var(--default-cubic-bezier);
  transition: box-shadow 250ms var(--default-cubic-bezier);
  transition: box-shadow 250ms var(--default-cubic-bezier), -webkit-box-shadow 250ms var(--default-cubic-bezier);
}
.works-gallery-item:hover, .works-gallery-item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-gallery-item:hover .works-gallery-overlay-text {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.works-gallery-item-wrap {
  position: relative;
  overflow: hidden;
}

.works-gallery-img {
  display: block;
}

.works-gallery-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  padding-block: 63px;
  padding-inline: 24px;
  font-size: 18px;
  line-height: 1.55;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--default-cubic-bezier);
  transition: -webkit-transform 250ms var(--default-cubic-bezier);
  -o-transition: transform 250ms var(--default-cubic-bezier);
  transition: transform 250ms var(--default-cubic-bezier);
  transition: transform 250ms var(--default-cubic-bezier), -webkit-transform 250ms var(--default-cubic-bezier);
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
  overflow: auto;
}

.works-gallery-content {
  padding-block: 20px;
  padding-inline: 24px;
  --this-border-color: #eeeeee;
  border-right: 1px solid var(--this-border-color);
  border-bottom: 1px solid var(--this-border-color);
  border-left: 1px solid var(--this-border-color);
}

.works-gallery-item-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);
}

.works-gallery-item-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-color);
}/*# sourceMappingURL=main.css.map */