.header {
  box-sizing: inherit;

  border-bottom: 1px solid #ececec;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;

  @include media-tablet() {
    height: 80px;
  }
}

.header__standard-menu-container {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  width: 100%;
  @include media-mobile-only() {
    display: none;
  }
}

.header__mobile-menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include media-tablet() {
    display: none;
  }
}

.header__logo {
  @include media-tablet() {
    margin-right: 88px;
  }

  @include media-desktop() {
    margin-right: 93px;
  }
}

.header__btn-menu {
  @include media-tablet() {
    display: none;
  }
}

// .nav {
// }

.nav-list {
  display: flex;

  @include media-mobile-only() {
    flex-direction: column;
    gap: 32px;
  }

  @include media-tablet() {
    gap: 50px;
  }

  // ! PC
  // gap: 50px;
}

.nav-list__item {
  position: relative;
}

.nav-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  transition: color 250ms var(--default-cubic-bezier);

  color: var(--secondary-color);

  &:hover,
  &:focus {
    color: var(--accent-primary-color);
  }

  &:active {
    color: var(--primary-black-color);
  }

  color: var(--primary-black-color);

  &--current {
    color: var(--accent-primary-color);
  }

  &--gray {
    color: var(--secondary-color);
  }

  @include media-tablet() {
    display: block;
    align-self: center;
    padding-block: 32px;

    font-size: 14px;
    line-height: 1.14;

    // Underline
    &--current::after {
      content: "";

      position: absolute;
      bottom: -1px;
      left: 0;

      display: block;
      width: 100%;
      height: 4px;

      background: var(--accent-primary-color);
      border-radius: 2px;
    }
  }
}

.addr-list {
  @extend .nav-list;

  @include media-mobile-only() {
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
    margin-bottom: 64px;
  }

  @include media-tablet() {
    flex-direction: column;
    gap: 10px;
  }

  @include media-desktop() {
    flex-direction: row;
    gap: 30px;
  }

  &--right {
    margin-left: auto;
  }
}

.addr-list__item {
  display: flex;
  gap: 30px;
  align-items: baseline;
}

.addr-list__link {
  @extend .nav-list__link;

  display: flex;
  align-items: center;
  gap: 8px;
  padding-block: 0px;

  color: var(--secondary-color);

  @include media-mobile-only {
    .addr-list__item:last-child > & {
      font-size: 34px;
      color: var(--accent-primary-color);
    }
  }

  @include media-tablet() {
    gap: 10px;

    font-size: 12px;
  }

  @include media-desktop() {
    font-size: 14px;
  }
}

.addr-list__icon {
  display: none;

  @include media-tablet() {
    display: inline-block;
    fill: currentColor;
  }
}
