.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 15px;

  // TODO: Remove
  outline: 1px solid tomato;

  @include media-mobile() {
    max-width: 480px;
  }

  @include media-tablet() {
    max-width: 768px;
  }

  @include media-desktop() {
    max-width: 1200px;
  }
}
