.mobile-menu {
  transition: opacity 250ms var(--default-cubic-bezier);

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-block: 48px;
  padding-inline: 40px;

  background-color: #ffffff;

  overflow: auto;

  @media screen and (max-width: 319px) {
    width: 320px;
  }

  @media screen and (min-width: 320px) {
    width: 100%;
  }

  @include media-tablet() {
    display: none;
  }

  z-index: 1;
}

.mobile-menu__btn {
  position: absolute;
  top: 10px;
  right: 15px;

  transition: color 250ms var(--default-cubic-bezier);

  color: #000000;

  &:hover,
  &:focus {
    color: var(--accent-primary-color);
  }
}

// Blocks to separate first part from the last one
.mobile-menu__first-part {
  margin-bottom: 60px;
}

.mobile-menu__last-part {
}

.mobile-menu__soc-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
}
.mobile-menu__soc-item {
  // Remove padding to print from the start of the line
  &:first-child {
    padding-left: 0;
  }

  // Beautiful vertical line among the items
  &:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.mobile-menu__soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-primary-color);
}
