.clients-backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transition: opacity 250ms var(--default-cubic-bezier),
    visibility 250ms var(--default-cubic-bezier);

  background-color: rgba(0, 0, 0, 0.2);

  &.is-hidden {
    transition: opacity 250ms var(--default-cubic-bezier),
      visibility 250ms var(--default-cubic-bezier);
  }
}

.clients-backdrop .clients-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;

  width: 530px;
  height: 580px;

  transform: translate(-50%, -50%);

  background-color: #ffffff;
  border-radius: 4px;
}

.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  background-color: var(--primary-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;

  &:hover .modal-btn-icon,
  &:focus .modal-btn-icon {
    fill: var(--accent-primary-color);
  }
}

/* .modal-btn-icon {
} */

.modal-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--primary-color);
}

.modal-form-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.modal-form-field-wrap {
  position: relative;
}

.modal-form-field {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 30px;
}

.modal-form-flex-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modal-form-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: #757575;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;

  transition: border-color 250ms var(--default-cubic-bezier);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: transparent;

  &:focus {
    border-color: var(--accent-primary-color);
  }

  &:focus + .modal-form-icon {
    fill: var(--accent-primary-color);
  }
}

.modal-form-textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding-inline: 16px;
  padding-block: 12px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  transition: border-color 250ms var(--default-cubic-bezier);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: transparent;

  &:focus {
    border-color: var(--accent-primary-color);
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transform: translateY(-50%);
  transition: fill 250ms var(--default-cubic-bezier);

  pointer-events: none;
}

.modal-form-icon-wrap {
  display: inline-block;
  width: 16px;
  height: 15px;

  transition: background-color 250ms var(--default-cubic-bezier),
    border-color 250ms var(--default-cubic-bezier);

  border: 2px solid #000000;
  border-radius: 2px;
}

.modal-form-icon-inline {
  position: relative;
  top: -2px;
  left: -2px;

  fill: var(--primary-white-color);
  background-color: transparent;

  outline: transparent;

  &:focus {
    outline: 2px solid #000000;
  }
}

.modal-form-checkbox:checked + .modal-form-icon-wrap {
  background-color: var(--accent-primary-color);
  border-color: transparent;
}

.modal-form-agreement {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-color);
}

.modal-form-agreement a {
  color: var(--accent-primary-color);
}
